<% content_for :title, t("main_meters.new.title") %>

<div class="mb-6">
  <h1 class="text-xl font-semibold text-gray-900"><%= t("main_meters.new.title") %></h1>
</div>

<%= render "form", main_meter: @main_meter %>
