<% content_for :title, t("organizations.new.title") %>

<div class="mb-6">
  <h1 class="text-xl font-semibold text-gray-900"><%= t("organizations.new.title") %></h1>
</div>

<%= render "form", organization: @organization %>
